node_modules/
coverage/
dist/
.tmp/
*.log
npm-debug.log*

.DS_Store
Thumbs.db

.env
.env.*
*.key
*.pem
*.p12
*.pfx

*.7z
*.rar
*.zip

*.csv
*.tsv
*.db
*.sqlite
*.sqlite3

*.doc
*.docm
*.docx
*.ods
*.odt
*.pdf
*.ppt
*.pptm
*.pptx
*.xls
*.xlsb
*.xlsm
*.xlsx

*.avi
*.m4a
*.mov
*.mp3
*.mp4
*.wav
